@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

*{
    font-family: 'Zen Antique Soft', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background: #c4c4c4;
    font-size: 14px;
    line-height: 20px;
}

.cv_wrapper{
    display: flex;
    width: 800px;
    margin: 50px auto;
    background: #fff;
    padding: 10px;
}

.cv_wrapper .cv_left {
    width: 35%;
    background: #26252d;
}

.cv_wrapper .cv_left .cv_image{
    width: 100%;
}

.cv_wrapper .cv_left .cv_image img{
    width: 100%;
    display: block;
}

.cv_wrapper .cv_title{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 4px;
}

.cv_wrapper .cv_left .cv_info{
    color: #84838b;
}

.cv_wrapper .cv_left .cv_bottom{
    padding: 20px 30px;
}

.cv_wrapper .cv_item{
    padding: 20px 0;
    border-bottom: 1px solid #0175b2;
}

.cv_wrapper .cv_item:last-child{
    border-bottom: 0px;
}

.cv_wrapper .cv_left .cv_role{

}

.cv_wrapper .cv_role .nombre{
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    letter-spacing: 4px;
}

.cv_wrapper .cv_left .cv_role .role{
    color: #84839b;
}

.cv_wrapper .cv_left .cv_contact .cv_info:last-child{
    margin-top: 10px;
}

.cv_wrapper .cv_left .cv_contact .cv_subtitle{
    color: #fff;
    margin-bottom: 2px;
}

.cv_wrapper .cv_left .cv_skills .skill_list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.cv_wrapper .cv_right{
    width: 65%;
    padding: 20px 40px;
}

.cv_wrapper .cv_right .cv_role .nombre{
    color: #26252d;
    font-size: 32px;
}

.cv_wrapper .cv_right .cv_role .role{
    font-size: 14px;
    text-transform: uppercase;
}

.cv_wrapper .cv_right .cv_item .cv_title{
    color: #26252d;
}

.cv_wrapper .cv_right .cv_data{
    display: flex;
}

.cv_wrapper .cv_right .cv_data .content{
    padding-left: 10px;
    margin-bottom: 20px;
}

.cv_wrapper .cv_right .cv_interes .cv_info{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

@media screen and (max-width: 800px){
    .cv_wrapper .cv_right .cv_role{
        display: none;
    }
    .cv_wrapper .cv_left .cv_role{
        display: block;
    }
    .cv_wrapper{
        width: 95%;
        margin: 10px auto;
        flex-direction: column;
    }
    .cv_wrapper .cv_left,
    .cv_wrapper .cv_right{
        width: 100%;
    }
}

@media screen and (max-width: 424px){
    .cv_wrapper .cv_right{
        padding: 20px 30px;
    }
    .cv_wrapper .cv_right .cv_data{
        flex-direction: column;
    }
    .cv_wrapper .cv_right .cv_data .content{
        width: 100%;
        padding: 0;
    }
}